.card{
    border-radius: 8px;
    color: #e0e1dd;
    background-color: #0c1821;
    width: fit-content;
    padding: 1.2rem;
    margin: 1.25rem 0rem;  

    /* Added border */
    /* border: 0.001em solid #ccc9dc;        */

}

.card:hover{

    /* Rahul--
    transform 1.03
    */
    transform:scale(1.0);
    transition-duration: 200ms;

    box-shadow: 0 5px 50px 8px #53687b;
    /* border: 1px solid #ccc9dc;        */
}

.card__btn{
    margin: 4px;
}

.card__task{
    margin: 8px;
}

.card__priority{
    margin: 8px;
}
