

.input__label{
    color: #e0e1dd;
    font-size: small;
    margin: 1rem;
}
/* input{
    border-radius: 8px;
    padding: 3px;
    width: 50%;
    height: 35px;
} */

.input__task{
    border-radius: 8px;
    padding: 3px;
    width: 50%;
    height: 35px;
}


.heading{
    color: #e0e1dd;
    margin-top: 60px;
    margin-bottom: 30px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.input__priority{
    width: 100px;
    height: 35px;
}

/* .priority--high{
    background-color: red;
}
.priority--medium{
    background-color: orange;
}
.priority--low{
    background-color: green;
} */


.btn-container{
    margin-top: 40px;
}

.btn:hover{
    box-shadow: 0 5px 60px 8px #466784;
}