
@font-face {
    font-family: myFirstFont;
    src: url('./../ThinPrintRegular-ALl4A.ttf');
  }


*{
    margin: 0;
}

.app{
    color: #ccc9dc;
    background-color: #1b2a41;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.addBtn{
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;    
}

.fab:hover{
    box-shadow: 0 5px 60px 8px #466784;
}


body{
    background-color: #000001;
    font-family: myFirstFont;
    letter-spacing: 1.3px;
}
