*{
    color: #e0e1dd;
    font-family:'Times New Roman', Times, serif
}

.heading{
    margin: 30px 0;
}

.login__card{

    color: #e0e1dd;
    background-color: #0c1821;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 45px;

    /* transform:scale(1.03); */
    transition-duration: 240ms;

    box-shadow: 0 5px 50px 8px #324a5f;
    border: 1px solid #ccc9dc;       
}


.login__card:hover{
    transform:scale(0.985);
    transition-duration: 250ms;

    box-shadow: none;
    border: 0.01px solid #ccc9dc ;
}

.input{
    color: #0c1821;
    width: 250px;
    margin: 20px 0;
    padding: 8px;
    border-radius: 4px;
}

.register__message{
    margin: 50px 50px 20px 50px;
}